.board {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px;
  place-content: center;
  justify-content: start;
  align-content: start;
}

button {
  background-color: rgb(237, 237, 237);
  border-radius: 4px;
  border-width: 1px;
  padding: 4px;
}

.solved {
  font-size: 22px;
  color: rgb(60, 147, 60);
}
